<!DOCTYPE html>

{% load staticfiles %}

<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Operater - {% block title %}Naslovna{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pogon/css/style.css' %}"/>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% bootstrap_messages %}
</head>
<body>
{% include "pogon/navbar.html" %}
{% if error_message %}
<div class="row">
    <p><strong>{{ error_message }}</strong></p>
{% endif %}
</div>
{% block body %}
{% endblock %}
</body>
</html>
