<!DOCTYPE html>

<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Operater - {% block title %}Naslovna{% endblock %}</title>
    {% load static %}
    <link rel="shortcut icon" type="image/png" href="{%  static 'favicon.ico' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'pogon/css/style.css' %}"/>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript jquery=1 %}
    {% bootstrap_messages %}
</head>
<body>
{% include "pogon/navbar.html" %}
{% block messages %}
    {% if messages %}
        {% for message in messages %}
        <div class="alert-message{% if message.tags %} {{ message.tags }}{% endif %}">{{ message }}</div>
        {% endfor %}
    {% endif %}
{% endblock %}
{% block body %}
{% endblock %}
</body>
</html>
