<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">

        <!-- Ukratko -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#topNavBar">
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'pogon:gosti' %}">LINIJA  </a>
        </div>

        <!-- Sadrzaj -->
        <div class="collapse navbar-collapse" id="topNavBar">
            {% if user.is_authenticated %}
            <ul class="nav navbar-nav navbar-left">
                <li>
                    <a href="{% url 'pogon:ploca' %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Upravljačka ploča </a>
                </li>
                <li>
                    <a href="{% url 'pogon:formular' %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Formular </a>
                </li>
                <li>
                    <a href="{% url 'pogon:dokumentacija' %}">
                        <span class="glyphicon glyphicon-list-alt" aria-hidden="true"></span>  Dokumentacija </a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a href="{% url 'pogon:detaljno' %}">
                        <span class="glyphicon glyphicon-lock" aria-hidden="true"></span>  {{ user.username }}  </a>
                </li>
                <li>
                    <a href="{% url 'pogon:odjava' %}">
                        <span class="glyphicon glyphicon-off" aria-hidden="true"></span>
                    </a>
                </li>
            </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        <a href="{% url 'pogon:prijava' %}">
                            <span class="glyphicon glyphicon-lock" aria-hidden="true"></span> Prijavi se
                        </a>
                    </li>
                </ul>
            {% endif %}
        </div>

    </div>
</nav>
